extends layout

block content
    h1 #{title}

    div(class='image')
        img(src=avatarUrl, alt=avatarUrl class='avatarImg')
        
    form(autocomplete="false" id='form' method="POST" action='/updateAvatar')
        div(class='selectType')
            div(class='eye')
                label #{types[0]}
                select(name='eye')
                    each eye in possibleEyes
                        if (eye === currentEye)
                            option(value=eye selected='selected') #{eye}
                        else 
                            option(value=eye) #{eye}
            br
            div(class='nose')
                label #{types[1]}
                select(name='nose')
                    each nose in possibleNoses
                        if (nose === currentNose)
                            option(value=nose selected='selected') #{nose}
                        else 
                            option(value=nose) #{nose}
            br
            div(class='mouth')
                label #{types[2]}
                select(name='mouth')
                    each mouth in possibleMouths
                        if (nose === currentNose)
                            option(value=mouth selected='selected') #{mouth}
                        else 
                            option(value=mouth) #{mouth}
            br
            div(class='color')
                label #{types[3]}
                input(type='text' name='color' value=currentColor autocomplete='off' required='true')  
            p  
            input(type='submit' name='submit' value='Update Avatar')
