extends layout

block content
    h1 #{title[0]}
    form(autocomplete='false' id='form' method='POST' action=`/create`)
        // Creates the form data stuff
        for data in formData
                if (data != 'Password') 
                    p #{data}&nbsp;&nbsp;&nbsp;
                    input(type='text' name=data.toLowerCase() autocomplete='off' required='true')
                else
                    p #{data}&nbsp;&nbsp;&nbsp;
                    div(class='pass')
                        input(id='password' type="password" name=data.toLowerCase() autocomplete='off' required='true')
                        input(type='checkbox' onClick='togglePassword()')
                        b Show Password
                        script(type='text/javascript').
                            function togglePassword() {
                                var elem = document.getElementById('password');
                                console.log(elem.type);
                                if (elem.type === 'password') {
                                    elem.type = 'text';
                                } else {
                                    elem.type = 'password';
                                }
                            }

        // Creates the questions
        for question, i in questions
            h3 #{question}
            br
            select(name='answers')
                each answer in answers[i]
                    option(value=answer) #{answer}

        //- for question, i in questions
        //-     h3 #{question[0]}&nbsp;&nbsp;&nbsp;
        //-     p
        //-     select(name=question[2])
        //-         each answer in answers[1]
        //-             option()
        //-     p #{question[1]}&nbsp;&nbsp;&nbsp;
        //-         input(type='text' name=question[2] autocomplete='off')

        p
            input(type='submit' value='Create Account!')