extends layout

block content

    h1 #{config.menu[3][0] + ', ' + account.username}

    img(src=account.avatarUrl rel=account.avatarUrl class='avatarImg')

    h3 #{config.formData[0] + ": " + account.username}
    h3 #{config.formData[2] + ": " + account.email}
    h3 #{config.formData[3] + ": " + account.age}

    a(href=config.menu[2][1])
        div(class='edit') Edit Account

    a(href=config.menu[4][1])
        div(class='logout') Logout