extends layout 

block content
    h1 #{title}

    form(id='form' method='post' action='/home')
        p #{username}: 
            input(type='text' name='username' autocomplete='off')
        div(class='pass')
            p #{password}: 
                input(id='password' type='password' name='password' autocomplete='off')
                input(type='checkbox' onClick='togglePassword()')
                b Show Password
                script(type='text/javascript').
                    function togglePassword() {
                        var elem = document.getElementById('password');
                        console.log(elem.type);
                        if (elem.type === 'password') {
                            elem.type = 'text';
                        } else {
                            elem.type = 'password';
                        }
                    }
        p
            input(id='btn' type='submit' value='Log In')

    a(href=config['menu'][1][1])
        div(class='create_account') #{noAccount}

    h4 #{visitMsg}

    h1 #{graphTitle}
    canvas(id='graphs' width='1500' height='300')
    div(id='graphInfo')
        div(id='graph1')
            div(id='g11' class='graphs1')
                p(id='g1Info1' class='g1Infos')
            div(id='g12' class='graphs1')
                p(id='g1Info2' class='g1Infos')
            div(id='g13' class='graphs1')
                p(id='g1Info3' class='g1Infos')
            div(id='g14' class='graphs1')
                p(id='g1Info4' class='g1Infos')
        div(id='graph2')
            div(id='g21' class='graphs2')
                p(id='g2Info1' class='g1Infos')
            div(id='g22' class='graphs2')
                p(id='g2Info2' class='g1Infos')
            div(id='g23' class='graphs2')
                p(id='g2Info3' class='g1Infos')
            div(id='g24' class='graphs2')
                p(id='g2Info4' class='g1Infos')
        div(id='graph3')
            div(id='g31' class='graphs2')
                p(id='g3Info1' class='g3Infos')
            div(id='g32' class='graphs2')
                p(id='g3Info2' class='g3Infos')
            div(id='g33' class='graphs2')
                p(id='g3Info3' class='g3Infos')
            div(id='g34' class='graphs2')
                p(id='g3Info4' class='g3Infos')
    script(src='script.js')